 <!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl">
        <div class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
            <div class="mb-2 mb-md-0" hidden>
                &#169;
                <script>
                    document.write(new Date().getFullYear());
                </script>
                , developed with ❤️ by
                <a href="https://urmigroup.com/" target="_blank" class="footer-link fw-medium">Urmi Group</a>
            </div>
            
        </div>
    </div>
</footer>
<!-- / Footer -->